body {
    background: url(/assets/images/login_bg.jpg) no-repeat 0 0 / cover;
}
h1 {
    font-size: 0;
    width: 1200px;
    margin: 20px auto;
}
.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 310px;
    background-color: #fff;
}

.register {
    display: none;
}

.title {
    text-align: center;
    padding: 10px 0;
}
form {
    margin: 20px;
}
.layui-form-item {
    position: relative;
}
.layui-form-item i {
    position: absolute;
    top: 9px;
    left: 5px;
}
.layui-form-item input {
    padding-left: 25px;
}
form a {
    float: right;
}
